*.o
*.pyc
.dirstamp
.deps
src/*.pdb
src/*.ilk
src/*.res
src/*.RES
src/*.pch
src/*.rsp
src/*.obj
src/*.exe
src/*.ncb
src/*.plg
src/*.dsw
src/*.opt
src/*.dsp
src/*.tds
src/*.td2
src/*.map
src/Makefile.bor
src/Makefile.cyg
src/Makefile.vc
src/Makefile.lcc
src/MSVC
src/*.log
src/*.GID
src/local
src/Output
src/pageant
src/plink
src/pscp
src/psftp
src/putty
src/puttytel
src/puttygen
src/pterm
src/*.DSA
src/*.RSA
src/*.cnt
src/*.hlp
src/.bmake
src/build.log
src/build.out
src/uxconfig.h
src/empty.h
src/config.status
src/Makefile.am
src/Makefile.in
src/Makefile
src/compile
src/config.status
src/configure
src/stamp-h1
src/aclocal.m4
src/ar-lib
src/autom4te.cache
src/depcomp
src/install-sh
src/local
src/missing
src/uxconfig.in
src/uxconfig.h
src/licence.h
src/*.a
src/charset/sbcsdat.c
src/contrib/cygtermd/cygtermd.exe
src/doc/*.html
src/doc/*.txt
src/doc/*.cnt
src/doc/*.hlp
src/doc/*.gid
src/doc/*.GID
src/doc/*.chm
src/doc/*.log
src/doc/*.1
src/doc/*.info
src/doc/vstr.but
src/doc/*.hhp
src/doc/*.hhc
src/doc/*.hhk
src/doc/licence.but
src/doc/copy.but
src/icons/*.png
src/icons/*.ico
src/icons/*.xpm
src/icons/*.c
src/macosx/Makefile
src/macosx/*.app
src/macosx/puttygen
src/macosx/plink
src/macosx/psftp
src/macosx/pscp
src/testdata/bignum.txt
src/unix/Makefile.gtk
src/unix/Makefile.ux
src/unix/Makefile.local
src/unix/empty.h
src/unix/plink
src/unix/pterm
src/unix/putty
src/unix/puttytel
src/unix/psftp
src/unix/pscp
src/unix/puttygen
src/unix/stamp-h1
src/unix/*.log
src/unix/.deps
src/windows/*.pdb
src/windows/*.ilk
src/windows/*.res
src/windows/*.RES
src/windows/*.pch
src/windows/*.rsp
src/windows/*.obj
src/windows/*.exe
src/windows/*.ncb
src/windows/*.plg
src/windows/*.dsw
src/windows/*.opt
src/windows/*.dsp
src/windows/*.tds
src/windows/*.td2
src/windows/*.map
src/windows/Makefile.bor
src/windows/Makefile.cyg
src/windows/Makefile.vc
src/windows/Makefile.lcc
src/windows/MSVC
src/windows/DEVCPP
src/windows/VS2010
src/windows/VS2012
src/windows/*.log
src/windows/*.GID
src/windows/local
src/windows/Output
src/windows/*.DSA
src/windows/*.RSA
src/windows/*.cnt
src/windows/*.hlp
src/windows/.bmake
src/windows/*.sln
src/windows/*.suo
